.buttonBox {
  color: #ffff;
  width: 50%;
  font-size: 1rem;
  padding: 0.3rem;
  border: none;
  font-weight: 700;
  border-radius: 4px;
  background-color: rgb(77, 77, 231);
  cursor: pointer;
  margin-top: 0.7rem;
}
