.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  color: #ffff;
  background-color: rgb(65, 104, 84);

  h1 {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
